
/* centrer horinzontalement */
.container-center-horizontal {
    text-align: center;
}

.box_infos {
    background-color: #eee;
    padding: 20px;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* Nosy */


/* Définition de la police Harry Potter pour l'ensemble du document */
@font-face {
    font-family: "Harry Potter";
    src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot");
    src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter") format("svg");
    }
    
    /* Style pour la liste de navigation*/

    .menu {
    display: flex; /* Transformation en flexbox */
    padding: 0;  /* Suppression des marges internes */
    background-color: #000000a6; /*Ajout de la couleur d'arrière-plan*/
    list-style-type: none;
    justify-content: center; /* Alignements des liens dans le menu*/
    font-family: "Harry Potter", Arial; /* Utilisation de la police Harry Potter */
    font-size: larger;
    /*! color: white; */
    }
    
    /* Style pour les éléments de la liste de navigation */
    .menu li {
    position: relative;
    /*border-radius: 8px 8px 0 0;*/
    }
    
    .menu li:hover {
    background-color: rgb(213, 14, 14);
    }
    
    /* .dropdown li:hover {
        background-color: rgba(251, 235, 61, 0.68);
        } */
    /* Style pour les liens de la liste de navigation*/
    .menu a {
    display: block; /*Transformation en block*/
    min-width: 120px; /* Largeur minimale des liens */
    margin: 0.5rem; /* Marges externes (1 valeurs = 4 directions) */
    /*! padding: 0.8rem 0; */ /*Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    color: #fff; /*  Couleur du texte */
    text-align: center; /* Centrage du texte */
    /*! text-decoration: none; */ /* Suppression du soulignement */
    /*! border: 1px solid #fff; */ /* Ajout d'une bordure*/
    border-radius: 5px; /* Arrondis des bordures */
    /*! transition: all 0.3s; */ /* Ajout des effets de transition */
    /*! background: #6e3010; */
    /*! border: chocolate; */
    }
    
    .menu a:hover {
    color: #000;
    /*! background-color: rgb(252, 160, 22); */
    /*! border-color: #6e3010; */
    }
.menu ul a{
padding:8px 0;
}
.menu li:hover li a{
    color:white;
    text-transform:inherit;
}
.menu li:hover a, .menu  li li:hover a{
    color:white;
} 


.list {
    position: relative;
    display:block;
  }
.list .dropdown {
    display: none;}

/* Style pour les sous-menus */
.list:hover .dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    /*! font-family:"Harry Potter" Impact, "Haettenschweiler", sans-serif; */
    font-size: small;
    background-color: rgb(241, 227, 126);
    padding: 0.8rem;
    min-width: 120px;
    max-width: 150px;
    text-align: center;
    border: 1px solid #fff;
    /*border-radius: 10px;*/
    text-decoration: dashed 0;
    list-style-type: none; 
    
    /*! color: white; */
}