body {
    background: burlywood;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

/* centrer horinzontalement le contenu des box photos de l'album */
.container-center-horizontal {
    text-align: center;
}

/* centrer horinzontalement */
.container-left {
    text-align: left;
}

/* Bouton retour à la page précédente fixe */
.bouton {
    bottom:1%;
    right:1%;
    z-index:9999;
    display: inline-block;
    background-color: #8b0616;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 120px;
    height: 80px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position : fixed;
}

.bouton:hover {
    background-color: goldenrod;
}

.bouton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bouton span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.bouton:hover span {
    padding-right: 25px;
}

.bouton:hover span:after {
    opacity: 1;
    right: 0;
}

/* grille */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card-box{
    background-color: burlywood;
    padding: 60px;
    border: 10px dotted #8b0616;
}

/* grille */
.box {
    float : left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
    background-size: cover;
    text-align: center;
}

#box_infos {
    background-color: transparent;
    padding: 20px;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
