body {
    background: burlywood;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

/* centrer horinzontalement le contenu des box photos de l'album */
.container-center-horizontal {
    text-align: center;
}

/* centrer horinzontalement */
.container-left {
    text-align: left;
}

/* Bouton retour à la page précédente fixe */
.bouton {
    bottom:1%;
    right:1%;
    z-index:9999;
    display: inline-block;
    background-color: #8b0616;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 120px;
    height: 80px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position : fixed;
}

.bouton:hover {
    background-color: goldenrod;
}

.bouton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bouton span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.bouton:hover span {
    padding-right: 25px;
}

.bouton:hover span:after {
    opacity: 1;
    right: 0;
}

/* grille */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card-box{
    background-color: burlywood;
    padding: 60px;
    border: 10px dotted #8b0616;
}

/* grille */
.box {
    float : left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
    background-size: cover;
    text-align: center;
}

#box_infos {
    background-color: transparent;
    padding: 20px;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Nosy */

/* Nosy */

.menu {
    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    background-color: none;     /* Ajout de la couleur d'arrière-plan */
    list-style-type:none;
    justify-content: center   /* Alignements des liens dans le menu */

}

.menu li {
    list-style-type: none ;       /* Suppression des puces */
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;
}
.menu ul li{
    background-color: none ;
    display:inherit;
    border-radius:0;
}

.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */
}

.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */

    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    /* padding: 0.4rem 0;            Marges internes (2 valeurs = haut/bas et gauche/droite) */
    color: #000000;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;           /* Centrage du texte */
    background-color: #1ABC9C;    /* Couleur d'arrière-plan */
    color: #031013;                  /* Couleur du texte */
    text-decoration: rgb(138, 116, 82);        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */

    transition: all 1s ;          /* Ajout des effets de transition */
}

.menu a.actif {
    background-color: #d7e2f3 ;
    color: #119b80 ;
    border-color: #1ABC9C ;
}

.menu a:hover,
.menu a.active {
    background-color: #1b99d8;
    color: #161408;
    border-color: #4b4b48;
}



.menu li:hover{
    border-radius:0;
}

/* background des liens sous menus */
.menu li:first-child li{
    background:#2A2333;
}

.menu li:nth-child(2)li{
    background:#2A2333;
}

.menu li:nth-child(3)li{
    background:#2A2333;
}
.menu li:last-child li{
    background:#2A2333;
}

/* background des liens sous menus et sous menus au survol */

.menu li:first-child:hover, .menu li:first-child li:hover{
    background:#65537A;
}

/* les a href */

.menu a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-family:arial;
}
.menu ul a{
    padding:8px 0;
}
.menu li:hover li a{
    color:#fff;
    text-transform:inherit;
}
.menu li:hover a, .menu  li li:hover a{
    color:#000;
}

.list {
    position: relative;
    display: inline-block;
}
.dropdown {
    display: none;}

.list:hover .dropdown {
    display: block;
}
