/* Partie Affichage des infos et du bouton "plus d'infos" */

@font-face {
    font-family: 'Harry Potter';
    font-style: italic;
    src: url('/fonts/Harry-Potter.ttf') format('truetype');
}

@font-face {
    font-family: 'Harry Potter';
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/Harry-Potter.ttf') format('truetype');
}

body {
    font-family: 'Harry Potter', sans-serif;
}

.container-top{
    top: 0%;
}

/* centrer horinzontalement */
.container-center-horizontal {
    text-align: center;
}

.bouton {
    display: inline-block;
    background-color: #8b0616;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 140px;
    height: 80px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Harry Potter', sans-serif;
}

.bouton:hover {
    background-color: goldenrod;
}

#box_infos {
    background-color: transparent;
    padding: 20px;
    display: inline-block;
    font-size: 26px;
    color: gold;
    text-shadow: #031013;
    font-family: 'Harry Potter', sans-serif;
}

.spell-option{

    width:300px;
}

/* centrer horizontalement et verticalement */
.container-flex {
    /* Mieux vaut centrer le texte dans un
     cercle. */
    text-align : center;

    /* On fait attention à ce que le texte
       ne touche pas la bordure. On placera
       donc le texte avec un remplissage, ce
       qui donnera une meilleure impression
       pour le cercle. */
    padding : 10em;
    background-color: #ff8202;

    /* La bordure marquera le cercle. On
       pourrait également utiliser un arrière-
       plan car celui-ci aurait été contenu
       par border-radius */
    border : 0.5em solid black;

    /* Assurons-nous que la boîte soit carrée
       pour obtenir un cercle bien rond plutôt
       qu'une ellipse ;) */
    max-width : 500px;
    height: 10em;

    /* Enfin, transformons le carré en cercle */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.box-flex {
    background-color: #ff8202;
    padding: 20px;
    max-width : 500px;
}

.spell-option{
    max-width : 200px;
}


/* Partie Affichage du slide */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(237, 237, 237), rgb(236, 236, 236)), linear-gradient(135deg,
    rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%,
    rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%,
    rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%), linear-gradient(112.5deg, rgb(163, 125, 62) 0%,
    rgb(163, 125, 62) 22%, rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%,
    rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%, rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%,
    rgb(91, 0, 47) 100%), linear-gradient(90deg, rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%, rgb(149, 100, 59) 22%,
    rgb(149, 100, 59) 32%, rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%, rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%,
    rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%, rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%);
    background-blend-mode: overlay, overlay, overlay, normal;
    font-family: 'Harry Potter', sans-serif;
}

.imagedefond {

    position: relative;
    z-index: 0;
}

/*Swiper*/

.mySwiper {
    position: relative;
    z-index: 1;
    height: 500px;
    width: 400px;
}

.swiper {
    position: relative;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.swiper-wrapper img {
    height: 400px;
    transition: transform 0.5s ease;
    max-width: 100%;
}

/* zoom */
.swiper-wrapper img:hover {
    transform: scale(1.7);
    /* transform-origin: center; */
    /* width: auto;
    height: 600px; */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-wrapper-controls {
    display: inline;
    /* width: 30px;
    height: 30px; */
    z-index: 2;
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 433px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
}

.swiper-wrapper-controls svg {
    width: 25px;
    height: 25px;
}

.swiper-button-play,
.swiper-button-pause {
    cursor: pointer;
    outline: none;
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

#Button:hover {
    fill: #f1ebe6;
    fill-opacity: 0.8;
}

/* #Shadow {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
    transform: translate(5px, 5px);
} */

/*pagination*/

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 200px;
    text-align: center;
    font-size: 20px;
    color: #000;
    opacity: 2;
    background: rgba(244, 100, 100, 0.2);
    z-index: 4;
}

.swiper-pagination {
    padding: 0;
    margin: 32px 0 0;
    position: relative;
    display: inline-block;
    z-index: 4;

}

.swiper-pagination-bullet-active {

    background: rgb(238, 105, 16);
    outline: none;
    box-shadow: 0 1px 2px rgb(247, 231, 5) inset;
}
/* modal */
/* Style pour la modal container*/
.modal-container {
    display: none;
    position: fixed;
    z-index: 4;
    top: 50%;
    left:50%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
}

/* Style pour la modal */
.modal {
    display: inline;
    /* background-color: #eada28; */
    /* background-image:url(/img/Hogwarts-Symbole-650x366.png); */
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
}
.modal-background{

    display: inline;
    /* background-color: #eada28; */
    /* background-image:url(/img/Hogwarts-Symbole-650x366.png); */
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
}

/* Style pour le contenu de la modal */
.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    color: #0a0a0a;
}
.modal-content {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Style pour le bouton de fermeture */
.modal-close-btn {
    position: relative;
    top: 2%;
    left:50%;
    font-size: 18px;
    color: #0f0f0f;
    background-color:#fff;
    border: none;
    cursor: pointer;
    /* border-radius: 20px; */
  }
  .modal-close-btn:hover {
    background-color:#d1880b;
    color: #ec1818;
  }
  /* .autre-contenu {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  } */

.box-reponse{
    bottom: 1%;
}

/* Menu */

/* Style pour la liste de navigation*/

.menu {
    top : 1%;
    display: flex; /* Transformation en flexbox */
    padding: 0; /* Suppression des marges internes */
    background-color: #000000a6; /*Ajout de la couleur d'arrière-plan*/
    list-style-type: none;
    justify-content: center ; /* Alignements des liens dans le menu */
    font-family: "Harry Potter", sans-serif; /* Utilisation de la police Harry Potter */
    font-size: larger;
    position :sticky;
    /*! color: white; */
}

/* Style pour les éléments de la liste de navigation */
.menu li {
    position: relative;
    /*border-radius: 8px 8px 0 0;*/
}

.menu li:hover {
    background-color: #8b0616;
}

/* .dropdown li:hover {
    background-color: rgba(251, 235, 61, 0.68);
    } */
/* Style pour les liens de la liste de navigation*/

.menu a {
    display: block; /* Transformation en block */
    min-width: 100px; /* Largeur minimale des liens */

    margin: 0.5rem; /* Marges externes (1 valeurs = 4 directions) */
    /*! padding: 0.8rem 0; */ /*Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    color: #fff; /*  Couleur du texte */

    text-align: center; /* Centrage du texte */
    /*! text-decoration: none; */ /* Suppression du soulignement */
    /*! border: 1px solid #fff; */ /* Ajout d'une bordure*/
    border-radius: 5px; /* Arrondis des bordures */
    /*! transition: all 0.3s; */ /* Ajout des effets de transition */
    /*!
    background: #6e3010; */
    /*! border: chocolate; */
}

.menu a:hover {
    color: #000;
    /*! background-color: rgb(252, 160, 22); */
    /*! border-color: #6e3010; */
}

.menu ul a {
    padding: 8px 0;
}

.menu li:hover li a {
    color: white;
    text-transform: inherit;
}

.menu li:hover a, .menu li li:hover i {
    color: white;
}

.list {
    position: relative;
    display: block;
}

.list .dropdown {
    display: none;
}

/* Style pour les sous-menus */
.list:hover .dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    /*! font-family:"Harry Potter" Impact, "Haettenschweiler", sans-serif; */
    font-size: larger;
    background-color: darkgoldenrod;
    padding: 0.8rem;
    min-width: 215px;
    max-width: 250px;
    text-align: center;
    border: 1px solid #fff;
    /*border-radius: 10px;*/
    text-decoration: dashed 0;
    list-style-type: none;

    /*! color: white; */
}